.loader {
	visibility: visible;
	opacity: 1;
	display: flex;
	flex-direction: column;
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	color: white;
	justify-content: center;
	align-items: center;
	animation: slideRight 2s ease-in-out 1s;
	animation-fill-mode: forwards;
	background-color: var(--theme-color);
}

.loader-img {
	width: 35rem;
}

.ring
{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:40rem;
	height:40rem;
	border-radius:50%;
	color:white;
	letter-spacing:4px;
}
.ring:before
{
	content:'';
	position:absolute;
	top:-0.3rem;
	left:-0.3rem;
	width:100%;
	height:100%;
	border-bottom:3px solid white;
	border-radius:50%;
	animation:circleAround 1.8s linear infinite;
}

@keyframes circleAround
{
	0%
	{
		transform:rotate(0deg);
	}
	100%
	{
		transform:rotate(360deg);
	}
}

@keyframes slideRight
{
	0%
	{
		transform:translateX(0);
	}
	100%
	{
		transform:translateX(100%);
		display: none;
	}
}